@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Iceland&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'FC Barcelona';
    src: local('FC Barcelona CONDENSED'), local('FC-Barcelona-CONDENSED'),
        url('fonts/FCBARCELONACONDENSED.woff2') format('woff2'),
        url('fonts/FCBARCELONACONDENSED.woff') format('woff'),
        url('fonts/FCBARCELONACONDENSED.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.first{
    padding: 2rem;
    background-color: #588157;
}
.first header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        z-index: 3;
        align-items: start;
        position: relative;
}
.first header p{
    z-index: 3;
    margin-left: 1.5rem;
    margin-top: 2rem;
    top: 0;
    left: 0;
    font-size: 3rem;
    font-family: "FC Barcelona",sans-serif;
    font-weight: 600;
    position: absolute;
}
.first nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 1.5rem 3rem;
    width: 60%;
    z-index: 3;

}
.first a{
    color: #223017;
    text-decoration: none;
    background-color: #ECFFEB;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
}
.first img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first h1{
    font-family: "Archivo",sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
}
.first3,.first2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
    z-index: 2;
}
.first2 > div:first-of-type{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    color: #223017;
}
.first2 button{
    font-size: 1rem;
    padding: 0.7rem 5rem;
    border-radius: 2rem;
    border: none;
    background-color: #223017;
    color: #ECFFEB;
}
.first2 > div:last-child{
    width: 600px;
    height: 450px;
    overflow: hidden;
}
.first2 canvas,.first3 canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.first31{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.first3 > div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.first3 h2{
    font-size: 2rem;
        font-family: "Archivo",sans-serif;
        font-weight: 700;
}
.first3{
    align-items: center;
    margin-top: 1rem;
    color: #ECFFEB;
}
.firsticon{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}
.firsticon > button{
        display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ECFFEB;
    border: none;

}
.firsticon > button > img{
    width: 50%;
    height: 50%;
}

.first31 > div{
    width: 220px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;

}
.first31 p{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    color: #223017;
}



/* THE START OF SECOND SECTION */
.second{
    background-color: #0D0D0D;
    display: flex;
    gap: 2rem;
    padding: 3rem;
    flex-direction: column;
}
.second header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ECFFEB;
    align-items: center;
}
.second header p{
    font-family: "FC Barcelona",sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.second nav{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.second nav a{
    text-decoration: none;
    color: #ECFFEB;
}

.second > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        align-items: stretch;
        height: auto;
}
.second header div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.second header button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ECFFEB;

}
.second header button img{
    height: 50%;
    width: auto;
}
.second header button:last-of-type{
    width: auto;
    border-radius: 2rem;
    color: #ECFFEB;
    padding: 0 1rem;
}
.second2{
    width: 40vw;
    color: #ECFFEB;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}
.second2 h1{
    font-size: 3rem;
       font-family: "Archivo",sans-serif;
       font-weight: 400;
       line-height: 3.4rem;
}

.second2 > div{
    width: 400px;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.second2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.second2 > div div{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: end;
    font-size: 1.1rem;
    color: #030363;
}
.second2 > div button{
    background-color: transparent;
    border: 1px solid #030363;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    color: #030363;
}
.second2 > button{
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #B8F6FE;
    font-weight: 600;
    color: #030363;

}
.second3{
    width: 40vw;
    min-width: 40vw;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.second3 > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;

}
.second3 canvas{
    height: 100%;
    width: 100%;
}
.second3 > div  button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ECFFEB;
}
.second3 > button{
    position: absolute;
    top: 0;
    right: 0;
        height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: #ECFFEB;
}
.third{
    padding: 1rem;
    position: relative;
}
.third::before{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0D0D0D;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.6;
}
.third > div{
    z-index: 3;
        border: 2px solid  #ecffeb23;
    border-radius: 2rem;
    background: #ffffff13;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #ECFFEB;
    box-shadow: 0 8px 32px #00000040;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.third > img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.third header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ecffeb23;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}
.third header > p{
    font-size: 2rem;
    font-family: "FC Barcelona",sans-serif;
    font-weight: 700;
}
.third header nav{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.third header a{
    text-decoration: none;
    color: #ECFFEB;
}
.third header button{
    background-color: #ECFFEB;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #030363;
}
.thirdnav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-end;
    padding-bottom: 1rem;

}
.thirdnav a{
    color: #ECFFEB;
    background-color: #ecffeb23;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 2rem;
}
.third2{
    padding: 3rem 2rem 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}
.third2 canvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.third2 button{
        background-color: #ECFFEB;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #030363;
}
.third2 h1{
       font-family: "Archivo",sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
.third3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.third31{
    width: 45vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 1.5rem;
        background-color: #ffb1990e;
}
.third3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.third31 > div{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.third31 > div:last-of-type{
    padding: 1rem;
}
.third31 button{
    background-color: transparent;
    border: 1px solid #ECFFEB;
    padding: 0.5rem 1.3rem;
    border-radius: 1.5rem;
    color: #ECFFEB;
}
.third31 h3,.third32 h3{
    font-family: "Archivo",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.third31 a{
    text-decoration: none;
    color: #ECFFEB;
}
.third32,.third33{
    height: 15vw;
    width: 18vw;
    overflow: hidden;
    border-radius: 1.5rem;
    position: relative;
}
.third32{
    padding: 1rem;
            background-color: #ffb1990e;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;

}
.third32 p{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}
.third32 > div:last-of-type{
    overflow: hidden;
    border-radius: 0.5rem;
    
}
.third33::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0d0d0d50;
}
.third33 p{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;

}